<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.zcxm.role.dao.IRoleDao">
    <select id="selectRidByUid" resultType="java.lang.Integer">
        select rId from user_role_mapping where uId=#{userId};
    </select>
    <delete id="deleteRids">
        delete from user_role_mapping
        <where>
            uid in
            <foreach collection="list" item="b" separator="," open="(" close=")">
                #{b}
            </foreach>
        </where>
    </delete>
    <delete id="deleteRid">
        delete from user_role_mapping where uId=#{userId}
    </delete>
    <select id="loadRoleByUserId" resultType="com.demo.zcxm.role.service.bo.Role">
        select * from roles where roleId in (select rId from user_role_mapping where uId=#{userId})
    </select>
    <select id="loadRoleByNoUserId" resultType="com.demo.zcxm.role.service.bo.Role">
        select * from roles where roleId not in (select rId from user_role_mapping where uId=#{userId})
    </select>
    <insert id="addRid">
        insert into user_role_mapping values
        <foreach collection="rid" item="c" separator=",">
            (#{userId},#{c})
        </foreach>
    </insert>
    <delete id="deleteRidByUserId">
        delete from user_role_mapping where uId=#{userId} and rId in
        <foreach collection="rid" item="c" separator="," open="(" close=")">
            #{c}
        </foreach>
    </delete>
    <sql id="roleColumns">${alias}.roleId,${alias}.roleName</sql>
    <select id="selectAllRole" resultType="com.demo.zcxm.role.service.bo.Role">
        select
        <include refid="roleColumns"><property name="alias" value="r1"/></include>
        from roles r1;
    </select>

</mapper>